extends layout.pug



block content
    hi Pagina Index 
    p Bienvenido a la pagina principal de nuestro proyecto final de WEB2. En esta pagina podras encontrar toda la informacion relacionada con nuestro proyecto, asi como tambien acceder a las diferentes secciones de la aplicacion.
    p Para comenzar, puedes registrarte o ingresar a tu cuenta para acceder a todas las funcionalidades