doctype html
html 
    head 
        //link(rel='stylesheet', href='/styles.css')
        block metadata

    body 
        nav 
            ul 
                li 
                    a(href='/usuario') Usuario
                li 
                    a(href='/publicacion') Publicaciones 
                li  
                    a(href='/coleccion') Colecciones
                li  
                    a(href='/seguidor') Seguidores
                li  
                    a(href='/notificacion') Notificaciones
                li  
                    a(href='/mensaje') Mensajes
                li  
                    a(href='/') Cerrar Sesion
        main
            div(style='padding: 20px;')
                block content