extends ../layout2.pug

block content
    h1 Mensajes
    p Bienvenido a la página de mensajes. Aquí podrás enviar y recibir mensajes, comunicarte con otros usuarios y mantener conversaciones en tiempo real. ¡Disfruta navegando por nuestros mensajes y participa en la comunidad!