extends ../layout2.pug

block content
    h1 Notificaciones
    p Bienvenido a la página de notificaciones. Aquí podrás ver las últimas notificaciones, gestionarlas y conectarte con otros usuarios a través de contenido interesante. ¡Disfruta navegando por nuestras notificaciones y participa en la comunidad!