extends ../layout.pug

block content
    h1 Ingresar
    form(action="/ingresar" method="POST")
        div 
            label Email:
                input(type="text", id="email", name="email")
        div
            label Contraseña:
                input(type="password", id="password", name="password")
        div
            button(type="submit") Ingresar