extends ../layout.pug

block content
    include ../alertas.pug
    +alert(alert)
    h1 Registrarse
    form(action="/registrarse" method="POST")
        div 
            label Usuario:
                input(type="text", id="username", name="username", required, value=formValues ? formValues.username : '')
        div
            label Correo Electronico:
                input(type="email", id="email", name="email", required, value=formValues ? formValues.email : '')
        div
            label Password:
                input(type="password", id="password", name="password", required, value=formValues ? formValues.password : '')
        div
            label Confirmar Password:
                input(type="password", id="confirmPassword", name="confirmPassword", required, value=formValues ? formValues.confirmPassword : '')
        div
            button(type="submit") Registrarse

    