extends ../layout2.pug

block content
    h1 Colección
    p Bienvenido a la página de colecciones. Aquí podrás explorar tus colecciones, gestionar tus items y conectarte con otros usuarios a través de contenido interesante. ¡Disfruta navegando por nuestras colecciones y participa en la comunidad!