extends ../layout2.pug

block content
    h1 Publicaciones
    p Bienvenido a la página de publicaciones. 

    div
        div
            a(href='/publicacion/crear') Crear nueva publicación
    div
        div
            h2 Titulo Publicacion 
        div
            h3 Descripcion Publicacion
        div
            a Imagen Publicacion
        div    
            a Etiquetas Publicacion
        div
            a fecha Publicacion
        div
            a Usuario Publicacion
        div
            a Me gusta Publicacion
        div
            a Comentarios Publicacion
    

    