extends ../layout2.pug

block content
    h1 Publicaciones
    p Bienvenido a la página de publicaciones. Aquí podrás explorar las últimas publicaciones, compartir tus pensamientos y conectarte con otros usuarios a través de contenido interesante. ¡Disfruta navegando por nuestras publicaciones y participa en la comunidad!