extends ../layout2.pug

block content
    h1 Usuarios
    p Bienvenido a la página de usuarios. Aquí podrás gestionar tus usuarios, ver sus perfiles y realizar diversas acciones relacionadas con la administración de usuarios en nuestra aplicación. Explora las opciones disponibles para administrar tus usuarios de manera eficiente.
    