extends ../layout2.pug

block metadata
    title Usuario: #{Usuario ? Usuario.username : 'No encontrado'}

block content
    div
        if Usuario
            h1 Bienvenido #{Usuario.firstName}
            p Cuenta creada desde #{Usuario.createdAt}
            p cumpleanios #{Usuario.birthDate}
            a(href="#") seguidores
            a(href="#") siguiendo
        else 
            h1 No se encontro el usuario
    div 
        
        a(href="#") editar

        a(href="#") denunciar