extends ../layout2.pug

block content
    div
        if Usuario
            h1 Bienvenido #{Usuario.firstname}
            p Cuenta creada desde #{Usuario.createdAt}
            p cumpleanios #{Usuario.birthDate}
            a seguidores
            a siguiendo
        else 
            h1 No se encontro el usuario
    div 

        a editar

        a denunciar