extends ../layout2.pug

block content
    h1 Seguidores
    p Bienvenido a la página de seguidores. Aquí podrás gestionar tus seguidores, ver sus perfiles y realizar diversas acciones relacionadas con la administración de seguidores en nuestra aplicación. Explora las opciones disponibles para administrar tus seguidores de manera eficiente.